<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="..\static\index.css">
</head>
<body>
    <div class="commands">
        <h3>List of Available Commands</h3>
        <p>Description</p>
        <p>hello ...</p>
        <p>describe/explain/what is</p>
        <p>View</p>
    </div>
</body>
</html>

